header{
       max-width: 1170px;
       margin: auto;
}
main{
       max-width: 1170px;
       margin: auto;
}
footer{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 502px;
       background: rgba(19, 19, 24, 0.05);
       
}
/*nav style*/
nav {
       display: flex;
       justify-content: space-between;
      align-items: center;
}
nav > ul{
       display: flex;
       
}

nav a{
    text-decoration: none; 
    color: #424247;
}
nav ul li{
       list-style: none;
       margin-left: 30px;
       font-family: Mulish;
       font-size: 1.02rem;
       font-style: normal;
       font-weight: 400;
       
}
nav h3{
       display: flex;
       align-items: center;
       color: #131318;
       font-family: Mulish;
       font-size:2.02rem;
       font-weight: 800;
       
    
}
nav img{
       
       
}
.color{
       color: #FF5400;
}
#menu-bar{
       font-size: 1rem;
       color: #131318;
       display: none;
       
}
 
/*banner styles*/
.banner-section{
       background: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
       height: 100%;
       width: 100%;
       background-repeat: no-repeat;
       border-radius: 16px;     
       padding:120px 200px;
       
}
.title-box{
       max-width: 800px; 
       text-align: center;
}
.banner-title{
       color: #FFF;
       font-family: Mulish;
       font-size: 4rem;
       font-weight: 800;

}
.banner-description{
       color: #FFF;
       font-family: Mulish;
       font-size: 1rem;
       font-weight: 400;
        
}
.banner-info{
       margin-top: 30px;
       display: inline-flex;
       padding: 16px;
       align-items: flex-start;
       gap: 24px;
       border-radius: 8px;
       background: rgba(255, 255, 255, 0.30);
}
.banner-input{
       width: 174px;
       height: 52px;
       border-radius: 8px;
       background: #FFF;
       border: 0;
       color: rgba(19, 19, 24, 0.50);
       font-family: Mulish;
       font-size: 1rem;
       font-weight: 400;
       padding-left: 16px;
}
.banner-info button{
       width: 174px;
       height: 52px;
       border-radius: 8px;
       border: 0;
       background: #FF5400;
       

        
}
.banner-info a{
       text-decoration: none;
       color: #FFF;
       font-family: Mulish;
       font-size: 1rem;
       font-weight: 700;
}
.banner-info i{
       color: #FFF;
       margin-right: 5px;
       font-size: 1rem;

}
/*popular section*/
.popular{
       display: flex;
       gap: 50px;
       margin-top: 100px;
}
.popular-title{
       color: #131318;

font-family: Mulish;
font-size:2.50rem;

font-weight: 800;

}
.popular-content ul li{
      margin-bottom: 25px;
}
.popular-dex{
       color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 1rem;

font-weight: 400;

}
.popular-img{
       width: 100%;
}
.popular-btn{
       width: 174px;
       height: 52px;
       margin-top: 32px;
       border: 0;
       border-radius: 8px;
       background: #FF5400;
       color: #FFF;
       font-family: Mulish;
       font-size: 1.25rem;
       font-weight: 800;

}

/*destination section*/
.row{
       display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

.img-1{
       position: relative;
}
.text-1{
       position: absolute;
       color: #FFF;
       font-family: Mulish;
       font-size:1.50rem;
       font-weight: 800;
       left: 44%;
       top: 50%;

}
.img-2{
       position: relative;
}

.text-2{
       position: absolute;
       color: #FFF;
       font-family: Mulish;
       font-size: 1.50rem;
       font-weight: 800;
       left: 44%;
       top: 50%;
}
.img-3{
       position: relative;
}
.text-3{
       position: absolute;
       color: #FFF;
       font-family: Mulish;
       font-size: 1.50rem;
       font-weight: 800;
       left:35%;
       top: 50%; 
}
.img-4{
       position: relative;   
}
.text-4{
       position: absolute;
       color: #FFF;
       font-family: Mulish;
       font-size: 1.50rem;
       font-weight: 800;
       left:35%;
       top: 50%; 
}
.img-5{
       position: relative;  
}
.text-5{
       position: absolute;
       color: #FFF;
       font-family: Mulish;
       font-size: 1.50rem;
       font-weight: 800;
       left:35%;
       top: 50%; 
}
.img-6{
       position: relative;  
}
.text-6{
       position: absolute;
       color: #FFF;
       font-family: Mulish;
       font-size: 1.50rem;
       font-weight: 800;
       left:35%;
       top: 50%; 
}
.img-7{
       position: relative; 
}
.text-7{
       position: absolute;
       color: #FFF;
       font-family: Mulish;
       font-size: 1.50rem;
       font-weight: 800;
       left:40%;
       top: 50%;
}
.row img{
       width: 100%;
}

.destination-container{
       margin-top: 50px;
} 
.destination-title{
       margin-top: 100px;
       color: #131318;
       text-align: center;
       font-family: Mulish;
       font-size:2.50rem;
       font-weight: 800;
       
}
.destination-dex{
       color: rgba(19, 19, 24, 0.70);
       text-align: center;
       font-family: Mulish;
       font-size:1rem;
       font-weight: 400;
}
/*chose section*/
.container{
       display: flex;
       justify-content: center;
       gap:24px ;
       margin-bottom: 24px;
}
.container h3{
       color: #131318;
font-family: Mulish;
font-size:1.50rem;
font-weight: 800;

}
.container p{
       color: #5A5A5D;
font-family: Mulish;
font-size:1rem;
font-weight: 400;

}
.hotel  {
       width: 573px;
       padding: 128px 55px 32px 32px;
       border-radius: 16px;
       border: 1px solid rgba(251, 181, 99, 0.20);
       background: rgba(251, 181, 99, 0.05);
}
.service{
       width: 573px;
       padding: 128px 55px 32px 32px;
       border-radius: 16px;
       border: 1px solid rgba(41, 206, 246, 0.20);
       background: rgba(41, 206, 246, 0.05);     
}
.guarantee{
       width: 573px;
       padding: 128px 55px 32px 32px;
       border-radius: 16px;
       border: 1px solid rgba(233, 68, 68, 0.20);
       background: rgba(233, 68, 68, 0.05);
}
i{
       font-size:4rem;
}
/*newsletter section*/
.newsletter{
       margin-top:100px;
       margin-bottom: 100px;
       display: flex;
       gap: 20px;
}
.input-container{
       width: 396px;
       margin-left: 0;
       border-radius: 16px;
       border: 1px solid #FF5400;
       padding: 40px;


}
.input-container input{
       display: flex;
       margin-bottom: 5px;
}
.input-title{
       color: #131318;
       font-family: Mulish;
       font-size:1.50rem;
}
.input-dex{
       width: 350px;
       color: #5A5A5D;
font-family: Mulish;
font-size:1rem;
font-weight: 400;

}
.input-name, .input-email{
       width: 393px;
       height: 52px;
       border-radius: 8px;
       padding-left: 20px;
       background: rgba(19, 19, 24, 0.05);
       border: 0;
       color: rgba(19, 19, 24, 0.30);
       font-family: Mulish;
       font-size: 1rem;
       font-weight: 400;

}

.sub-btn{
       width:415px;
height: 52px;
border-radius: 8px;
background: #FF5400;
border: 0;
color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 1.25rem;
font-weight: 800;
padding: 14px 150px;

}
.newsletter-pic{
     width:100%;  
}

.save-up{
       width: 324px;
height: 120px;

transform: rotate(-19.628deg);
border-radius:1rem;
background: #FF5400;
color: #FFF;
font-family: Mulish;
font-size: 32px;
font-weight: 800;
position: relative;
bottom: 170px;
left: 300px;
}
.travel{
       margin: 0;
       color: #FFF;
       text-align: center;
       font-family: Mulish;
       font-size:1.25rem;
       font-weight: 400;
       
}
/*footer section*/
.footer-box{
     
       text-align: center;
}
footer h3{
       color: #131318;
       
       align-items: center;
       text-align: center;
       margin: auto;
       margin-bottom:10px ;
       font-family: Mulish;
       font-size:2.02rem;
       font-weight: 800;
       
}
footer p{

       color: #5A5A5D;
       width: 769px;
       text-align: center;
       margin: auto;
       font-family: Mulish;
       font-size:1rem;
       font-weight: 400;
       margin-bottom: 50px;

}
footer i{
       font-size: 2rem;
}
.hr-2{
       width: 872px;
       height: 1px; 
}
 
   
   /*responsive*/
@media screen and (max-width:600px) {
       nav{
              justify-content: space-around;
       }
       
       
       #menu-bar{
              display:block;
       }
       nav ul li{
              display: none;
       }
       nav h3{
              font-size: 1rem;
       }
       .banner-section {
              padding: 0;
              width: 88%;
              
       }
       .banner-title{
              font-size: 1.50rem;
       }
       .banner-info{
              margin-left: 68px;
       }
       .popular{
              margin-top: 0;
       }
       .popular-title{
              font-size: 1.5rem;
       }
       .popular-dex{
              margin-right: 44px;
       }
       .popular-img{
              width: 88%;
       }
       .destination-title{
              font-size: 1.5rem;
              margin-top: 0;
              margin-right: 45px;
       }
       .destination-dex{
              margin-right: 45px;
       }
       .row img{
              width:92%;
       }
       .hotel, .service, .guarantee{
              width: 276px;
       }
       .input-container{
              width: 337px;
              padding: 12px;
       }
       .input-name, 
       .input-email{
              width: 316px;
       }
       .sub-btn{
              width: 341px;
       }
       .newsletter-pic{
              width:88%;  
       }
       .save-up{
              width:192px;
       height:82px;     
       font-size:19px; 
       position: relative;
       bottom: 128px;
       left: 170px;
       }

      
       .row,
       .popular,
       .container,
       .banner-info,
       .newsletter
       {
              flex-direction: column;
       }
       
}     
