header{
       max-width: 1170px;
       margin: auto;
}
/*nav style*/
nav {
       display: flex;
       justify-content: space-between;
      align-items: center;
}
nav > ul{
       display: flex;
       
}

nav a{
    text-decoration: none; 
    color: #424247;
}
nav ul li{
       list-style: none;
       margin-left: 30px;
       font-family: Mulish;
       font-size: 1.02rem;
       font-style: normal;
       font-weight: 400;
       
}
nav h3{
       color: #131318;
       font-family: Mulish;
       font-size:2.02rem;
       font-style: normal;
       font-weight: 800;
    
}
nav img{
       
       
}
.color{
       color: #FF5400;
}
 
/*banner styles*/
.banner-section{
       background-image: url(/Images/Group\ 13\ \(1\)\ \(1\).png);
       height: 100%;
       width: 100%;
       background-repeat: no-repeat;
       border-radius: 16px;     
       padding:120px 200px;
       
}
.title-box{
       max-width: 800px; 
       text-align: center;
}
.banner-title{
       color: #FFF;
       font-family: Mulish;
       font-size: 4rem;
       font-weight: 800;

}
.banner-description{
       color: #FFF;
       font-family: Mulish;
       font-size: 1rem;
       font-weight: 400;
        
}
.banner-info{
       margin-top: 30px;
       display: inline-flex;
       padding: 16px;
       align-items: flex-start;
       gap: 24px;
       border-radius: 8px;
       background: rgba(255, 255, 255, 0.30);
}
.banner-input{
       width: 174px;
       height: 52px;
       border-radius: 8px;
       background: #FFF;
       border: 0;
       color: rgba(19, 19, 24, 0.50);
       font-family: Mulish;
       font-size: 1rem;
       font-weight: 400;
       padding-left: 16px;
}
.banner-info button{
       width: 174px;
       height: 52px;
       border-radius: 8px;
       border: 0;
       background: #FF5400;
       

        
}
.banner-info a{
       text-decoration: none;
       color: #FFF;
       font-family: Mulish;
       font-size: 1rem;
       font-weight: 700;
}
      
        
