header{
       max-width: 1170px;
       margin: auto;
}
main{
       max-width: 1170px;
       margin: auto;
}
/*nav style*/
nav {
       display: flex;
       justify-content: space-between;
      align-items: center;
}
nav > ul{
       display: flex;
       
}

nav a{
    text-decoration: none; 
    color: #424247;
}
nav ul li{
       list-style: none;
       margin-left: 30px;
       font-family: Mulish;
       font-size: 1.02rem;
       font-style: normal;
       font-weight: 400;
       
}
nav h3{
       display: flex;
       align-items: center;
       color: #131318;
       font-family: Mulish;
       font-size:2.02rem;
       font-weight: 800;
       
    
}
nav img{
       
       
}
.color{
       color: #FF5400;
}
#menu-bar{
       font-size: 1rem;
       color: #131318;
       display: none;
       
}
 
/*banner styles*/
.banner-section{
       background: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
       height: 100%;
       width: 100%;
       background-repeat: no-repeat;
       border-radius: 16px;     
       padding:120px 200px;
       
}
.title-box{
       max-width: 800px; 
       text-align: center;
}
.banner-title{
       color: #FFF;
       font-family: Mulish;
       font-size: 4rem;
       font-weight: 800;

}
.banner-description{
       color: #FFF;
       font-family: Mulish;
       font-size: 1rem;
       font-weight: 400;
        
}
.banner-info{
       margin-top: 30px;
       display: inline-flex;
       padding: 16px;
       align-items: flex-start;
       gap: 24px;
       border-radius: 8px;
       background: rgba(255, 255, 255, 0.30);
}
.banner-input{
       width: 174px;
       height: 52px;
       border-radius: 8px;
       background: #FFF;
       border: 0;
       color: rgba(19, 19, 24, 0.50);
       font-family: Mulish;
       font-size: 1rem;
       font-weight: 400;
       padding-left: 16px;
}
.banner-info button{
       width: 174px;
       height: 52px;
       border-radius: 8px;
       border: 0;
       background: #FF5400;
       

        
}
.banner-info a{
       text-decoration: none;
       color: #FFF;
       font-family: Mulish;
       font-size: 1rem;
       font-weight: 700;
}
/*popular section*/
.popular{
       display: flex;
       gap: 50px;
       margin-top: 100px;
}
.popular-title{
       color: #131318;

font-family: Mulish;
font-size:2.50rem;

font-weight: 800;

}
.popular-content ul li{
      margin-bottom: 25px;
}
.popular-dex{
       color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 1rem;

font-weight: 400;

}
.popular-btn{
       width: 174px;
       height: 52px;
       margin-top: 32px;
       border: 0;
       border-radius: 8px;
       background: #FF5400;
       color: #FFF;
       font-family: Mulish;
       font-size: 1.25rem;
       font-weight: 800;

}

/*destination section*/
.row{
       display: flex;
    gap: 25px;
    margin-bottom: 25px;
}
.destination-container{
       margin-top: 50px;
} 
.destination-title{
       color: #131318;
       text-align: center;
       font-family: Mulish;
       font-size:2.50rem;
       font-weight: 800;
       
}
.destination-dex{
       color: rgba(19, 19, 24, 0.70);
       text-align: center;
       font-family: Mulish;
       font-size:1rem;
       font-weight: 400;
}
/*chose section*/
.container{
       display: flex;
       justify-content: center;
       gap:24px ;
       margin-bottom: 24px;
}
.container h3{
       color: #131318;
font-family: Mulish;
font-size:1.50rem;
font-weight: 800;

}
.container p{
       color: #5A5A5D;
font-family: Mulish;
font-size:1rem;
font-weight: 400;

}
.hotel  {
       width: 573px;
       padding: 128px 55px 32px 32px;
       border-radius: 16px;
       border: 1px solid rgba(251, 181, 99, 0.20);
       background: rgba(251, 181, 99, 0.05);
}
.service{
       width: 573px;
       padding: 128px 55px 32px 32px;
       border-radius: 16px;
       border: 1px solid rgba(41, 206, 246, 0.20);
       background: rgba(41, 206, 246, 0.05);     
}
.guarantee{
       width: 573px;
       padding: 128px 55px 32px 32px;
       border-radius: 16px;
       border: 1px solid rgba(233, 68, 68, 0.20);
       background: rgba(233, 68, 68, 0.05);
}

 
   
   /*responsive*/
@media screen and (max-width:600px) {
       nav{
              justify-content: space-around;
       }
       
       #menu-bar{
              display:block;
       }
       nav ul li{
              display: none;
       }
       nav h3{
              font-size: 1rem;
       }
       .row,
       .popular
       {
              flex-direction: column;
       }
       
}     
